n8n.json
{
  "name": "Locatalyze - Location Analyser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8c71c168-2515-4262-9a61-b2fc2e66ae35",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [336, -144],
      "id": "b0c112ec-1537-4cae-804c-9542c9b5fd78",
      "name": "Webhook",
      "webhookId": "8c71c168-2515-4262-9a61-b2fc2e66ae35"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a business location analyst. Analyse this business opportunity and return a JSON object.\n\nBusiness data: {{ $json.body }}\n\nReturn ONLY valid JSON with these exact keys, no extra text, no markdown, no code blocks:\n{\n  \"overall_score\": 75,\n  \"recommendation\": \"2-3 sentence summary here\",\n  \"competitor_analysis\": \"paragraph about local competition here\",\n  \"rent_analysis\": \"paragraph about whether rent is reasonable here\",\n  \"market_demand\": \"paragraph about demand in this area here\",\n  \"cost_analysis\": \"paragraph about total costs here\",\n  \"profitability\": \"paragraph about profit potential here\",\n  \"full_report_markdown\": \"# Location Analysis Report\\n\\nFull detailed report here\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [560, -144],
      "id": "690460f0-5db1-49e9-9dab-af8a4aa0f056",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "yqHjMKQ36kDA2ACz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "reports",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "submission_id",
              "fieldValue": "={{ $('Webhook').item.json.body.submission_id }}"
            },
            {
              "fieldId": "overall_score",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).overall_score }}"
            },
            {
              "fieldId": "recommendation",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).recommendation }}"
            },
            {
              "fieldId": "competitor_analysis",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).competitor_analysis }}"
            },
            {
              "fieldId": "rent_analysis",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).rent_analysis }}"
            },
            {
              "fieldId": "market_demand",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).market_demand }}"
            },
            {
              "fieldId": "cost_analysis",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).cost_analysis }}"
            },
            {
              "fieldId": "profitability",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).profitability }}"
            },
            {
              "fieldId": "full_report_markdown",
              "fieldValue": "={{ JSON.parse($('Message a model').item.json.output[0].content[0].text).full_report_markdown }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [784, -144],
      "id": "c8bcb8f4-f9b2-4964-b916-8cbc7ca857a2",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "oHpsFw2R0XrPfaog",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Message a model').item.json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1008, -144],
      "id": "0aa21ddf-6439-41e1-9cdc-4bfe2d0104d9",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Message a model", "type": "main", "index": 0 }]]
    },
    "Message a model": {
      "main": [[{ "node": "Create a row", "type": "main", "index": 0 }]]
    },
    "Create a row": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "47c1d50f888129a94941ea005fbf33aa32f3907b2e424805c897da07d513c157"
  }
}