docs/a9-intelligence.workflow.json
{
  "name": "Locatalyze A9 – Location Intelligence (Saturation + Viability + Verdict)",
  "nodes": [
    {
      "parameters": {
        "content": "## A9 – Location Intelligence\n\nRuns AFTER A1–A8 complete in the Master Orchestrator.\n\n**What it does:**\n1. Reads A1 v4 threat-scored competitors\n2. Reads A3 market demand signals\n3. Computes: saturation score, opportunity score, viability score\n4. Produces: GO / CAUTION / NO verdict with specific reasoning\n5. Returns structured intelligence for Supabase storage\n\n**How to integrate:**\nIn Master Orchestrator, after the A1–A8 merge node, add an HTTP Request node calling this workflow's webhook URL, passing the combined agent output as the body.\n\n**Webhook path:** `a9-intelligence`",
        "height": 280,
        "width": 380,
        "color": 3
      },
      "id": "a9-0001-0001-0001-000000000001",
      "name": "Setup Notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 40]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a9-intelligence",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a9-0002-0002-0002-000000000002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [420, 300],
      "webhookId": "a9-intelligence-webhook"
    },
    {
      "parameters": {
        "jsCode": "// ── A9: Location Intelligence Engine ─────────────────────────────────────────\n// Accepts combined output from the Master Orchestrator (all A1-A8 data merged)\n// Returns: saturation score, opportunity score, viability score, GO/CAUTION/NO\n\nconst body = $input.first().json.body || $input.first().json;\n\n// ── Unpack A1 v4 competitor intelligence ─────────────────────────────────────\nconst competitors      = Array.isArray(body.competitors)      ? body.competitors      : [];\nconst opportunityLevel = String(body.opportunity_level        || 'unknown');\nconst strongCount      = parseInt(body.strong_count           || 0);\nconst moderateCount    = parseInt(body.moderate_count         || 0);\nconst weakCount        = parseInt(body.weak_count             || 0);\nconst totalCount       = parseInt(body.validated_count        || competitors.length || 0);\nconst searchRadiusM    = parseInt(body.search_radius_m        || 600);\nconst bizKey           = String(body.biz_key || body.bizKey   || 'other').toLowerCase();\nconst area             = String(body.area                     || '');\nconst city             = String(body.city                     || '');\nconst reportId         = String(body.reportId || body.report_id || '');\nconst businessType     = String(body.businessType || body.business_type || bizKey);\n\n// ── Unpack A2 location signals ────────────────────────────────────────────────\nconst monthlyRent   = parseFloat(body.monthly_rent   || body.median_rent   || 0);\nconst footfallRaw   = String(body.footfall_signal    || body.foot_traffic   || '').toLowerCase();\nconst transitRaw    = String(body.transit_signal     || body.public_transport || '').toLowerCase();\nconst anchorCount   = Array.isArray(body.nearby_anchors) ? body.nearby_anchors.length : 0;\n\n// ── Unpack A3 market demand ───────────────────────────────────────────────────\nconst demandScore    = parseFloat(body.market_score  || body.demand_score   || 0) || null;\nconst demandTrend    = String(body.demand_trend       || body.trend          || 'stable').toLowerCase();\n\n// ── Unpack A4/A5 financial snapshot ──────────────────────────────────────────\nconst projRevenue    = parseFloat(body.estimated_monthly_revenue || body.monthly_revenue || 0) || null;\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 1: MARKET SATURATION SCORE (0–100)\n// Higher = more saturated = harder to enter\n// Weighted by threat severity: strong competitors hurt more than weak ones\n// ─────────────────────────────────────────────────────────────────────────────\nconst satRaw = (strongCount * 25) + (moderateCount * 12) + (weakCount * 4);\nconst saturationScore = Math.min(100, Math.round(satRaw));\n\n// Saturation band\nconst saturationBand =\n  saturationScore >= 75 ? 'very_high'\n: saturationScore >= 50 ? 'high'\n: saturationScore >= 25 ? 'moderate'\n: totalCount === 0      ? 'unknown'\n: 'low';\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 2: MARKET OPPORTUNITY SCORE (0–100)\n// Higher = more room in the market = better for new entrant\n// ─────────────────────────────────────────────────────────────────────────────\nlet opportunityScore = 100 - saturationScore;  // base: inverse of saturation\n\n// Demand adjustment: growing market = more opportunity despite saturation\nif (demandTrend === 'growing')     opportunityScore += 12;\nif (demandTrend === 'stable')      opportunityScore +=  4;\nif (demandTrend === 'declining')   opportunityScore -= 15;\n\n// Footfall adjustment\nif (footfallRaw.includes('high'))  opportunityScore +=  8;\nif (footfallRaw.includes('low'))   opportunityScore -= 10;\n\n// Demand score adjustment (relative to neutral 50)\nif (demandScore !== null) {\n  opportunityScore += Math.round((demandScore - 50) * 0.15);\n}\n\nopportunityScore = Math.round(Math.max(0, Math.min(100, opportunityScore)));\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 3: LOCATION VIABILITY SCORE (0–100)\n// Composite: opportunity (40%) + demand attractiveness (35%) + location signals (25%)\n// ─────────────────────────────────────────────────────────────────────────────\nlet locationSignalScore = 50; // neutral base\nif (footfallRaw.includes('high'))   locationSignalScore += 20;\nif (footfallRaw.includes('medium')) locationSignalScore += 10;\nif (footfallRaw.includes('low'))    locationSignalScore -= 15;\nif (transitRaw.includes('excellent') || transitRaw.includes('strong')) locationSignalScore += 15;\nif (transitRaw.includes('good'))    locationSignalScore += 8;\nif (transitRaw.includes('poor'))    locationSignalScore -= 8;\nif (anchorCount >= 3)               locationSignalScore += 10;\nlocationSignalScore = Math.round(Math.max(0, Math.min(100, locationSignalScore)));\n\nconst demandAttractiveness = demandScore !== null\n  ? Math.round(\n      (demandScore / 10) * 60\n      + (demandTrend === 'growing'  ?  20 : 0)\n      + (demandTrend === 'declining' ? -15 : 0)\n    )\n  : 50; // neutral when no A3 data\n\nconst viabilityScore = Math.round(\n  Math.max(0, Math.min(100,\n    (opportunityScore      * 0.40) +\n    (demandAttractiveness  * 0.35) +\n    (locationSignalScore   * 0.25)\n  ))\n);\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 4: DETECT MARKET GAP\n// What specific opportunity does this location offer?\n// ─────────────────────────────────────────────────────────────────────────────\nlet marketGapNote = null;\n\nif (totalCount === 0 && opportunityLevel === 'unknown') {\n  marketGapNote = 'No ' + businessType + ' operators detected within ' + searchRadiusM + 'm of ' + area + '. Verify locally — this may indicate an underserved market or a data gap.';\n} else if (strongCount === 0 && totalCount > 0) {\n  marketGapNote = 'No dominant operator in this market — ' + totalCount + ' competitor(s) found but none are strongly established. First-mover with quality product has an advantage.';\n} else if (strongCount >= 1 && moderateCount === 0 && weakCount === 0) {\n  marketGapNote = 'One strong operator dominates — a niche or premium positioning could carve out a distinct customer segment.';\n} else if (saturationBand === 'low' || saturationBand === 'unknown') {\n  marketGapNote = 'Low competitive density within ' + searchRadiusM + 'm. Market appears underserved for ' + businessType + ' in ' + area + '.';\n}\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 5: IDENTIFY TOP THREATS (top 3 by threat_score)\n// ─────────────────────────────────────────────────────────────────────────────\nconst sorted = competitors.slice().sort(function(a, b) {\n  return (b.threat_score || 0) - (a.threat_score || 0);\n});\n\nconst topThreats = sorted.slice(0, 3).map(function(c) {\n  return {\n    name:         c.name         || 'Unknown',\n    rating:       c.rating       || null,\n    threat_score: c.threat_score || null,\n    threat_label: c.threat_label || null,\n    rank:         c.rank         || null,\n    distance_m:   c.distance_m   || null,\n    address:      c.address      || null\n  };\n});\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 6: VERDICT — GO / CAUTION / NO\n// ─────────────────────────────────────────────────────────────────────────────\nlet verdict;\nlet verdictConfidence;\n\nif (opportunityLevel === 'unknown') {\n  // No confirmed competitor data — cannot make confident call\n  verdict           = 'CAUTION';\n  verdictConfidence = 'low';\n} else if (viabilityScore >= 65 && saturationBand !== 'very_high') {\n  verdict           = 'GO';\n  verdictConfidence = viabilityScore >= 80 ? 'high' : 'medium';\n} else if (viabilityScore >= 38 || opportunityLevel === 'medium') {\n  verdict           = 'CAUTION';\n  verdictConfidence = 'medium';\n} else {\n  verdict           = 'NO';\n  verdictConfidence = saturationBand === 'very_high' ? 'high' : 'medium';\n}\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 7: REASONING (specific, not generic)\n// ─────────────────────────────────────────────────────────────────────────────\nconst reasons = [];\n\n// Competition finding\nif (totalCount === 0) {\n  reasons.push('No competitors detected within ' + searchRadiusM + 'm — verify data before treating as blue ocean');\n} else if (strongCount >= 3) {\n  reasons.push(strongCount + ' well-established competitors within ' + searchRadiusM + 'm — market is crowded');\n} else if (strongCount === 0) {\n  reasons.push(totalCount + ' competitor(s) found but none are strongly established — entry window is open');\n} else {\n  reasons.push(totalCount + ' competitor(s) including ' + strongCount + ' strong operator(s) within ' + searchRadiusM + 'm');\n}\n\n// Demand\nif (demandTrend === 'growing') {\n  reasons.push('Market demand is growing — favourable timing for entry in ' + area);\n} else if (demandTrend === 'declining') {\n  reasons.push('Market demand is declining in ' + area + ' — increased risk for new ' + businessType + ' operator');\n} else {\n  reasons.push('Market demand is stable in ' + area);\n}\n\n// Footfall / location\nif (footfallRaw.includes('high')) {\n  reasons.push('High foot traffic on this street — strong natural discovery potential');\n} else if (footfallRaw.includes('low')) {\n  reasons.push('Low foot traffic requires active marketing investment to drive awareness');\n}\n\n// Rent\nif (monthlyRent > 0 && projRevenue && projRevenue > 0) {\n  const rentPct = Math.round((monthlyRent / projRevenue) * 100);\n  if (rentPct > 30) {\n    reasons.push('Rent at ' + rentPct + '% of projected revenue is above the 20% sustainable threshold');\n  } else {\n    reasons.push('Rent at ' + rentPct + '% of projected revenue is within sustainable range');\n  }\n}\n\n// ─────────────────────────────────────────────────────────────────────────────\n// STEP 8: CONDITIONS AND FAILURE MODES\n// ─────────────────────────────────────────────────────────────────────────────\nconst conditions = [];\nconst failureModes = [];\n\nif (strongCount >= 1) {\n  conditions.push('Must differentiate clearly from ' + topThreats.map(function(t) { return t.name; }).join(', '));\n}\nif (monthlyRent > 8000) {\n  conditions.push('Monthly revenue must exceed AUD ' + (monthlyRent * 3).toLocaleString() + ' to maintain healthy rent-to-revenue ratio');\n}\nif (demandTrend === 'stable' || demandTrend === 'declining') {\n  conditions.push('Marketing investment required to capture share from existing operators — organic demand is not growing');\n}\n\nif (saturationBand === 'high' || saturationBand === 'very_high') {\n  failureModes.push('A second strong competitor opening nearby would push this location into loss');\n}\nif (demandTrend === 'declining') {\n  failureModes.push('Continued demand decline shrinks total addressable market below minimum viable size');\n}\nif (opportunityLevel === 'unknown') {\n  failureModes.push('Competitor data was incomplete — actual market may be more saturated than detected');\n}\n\n// ─────────────────────────────────────────────────────────────────────────────\n// ASSEMBLE OUTPUT\n// ─────────────────────────────────────────────────────────────────────────────\nreturn [{\n  json: {\n    // Verdict\n    verdict:              verdict,\n    verdict_confidence:   verdictConfidence,\n    verdict_summary:\n      verdict === 'GO'      ? 'Strong commercial viability — proceed with execution plan' :\n      verdict === 'CAUTION' ? 'Viable with conditions — address key risks before committing' :\n                              'Not recommended — competitive or demand conditions are unfavourable',\n\n    // Scores\n    saturation_score:         saturationScore,\n    saturation_band:          saturationBand,\n    opportunity_score:        opportunityScore,\n    demand_attractiveness:    Math.max(0, Math.min(100, demandAttractiveness)),\n    location_signal_score:    locationSignalScore,\n    viability_score:          viabilityScore,\n\n    // Market intelligence\n    opportunity_level:        opportunityLevel,\n    market_gap_note:          marketGapNote,\n    top_threats:              topThreats,\n\n    // Competitor summary\n    strong_competitor_count:  strongCount,\n    moderate_competitor_count: moderateCount,\n    weak_competitor_count:    weakCount,\n    total_competitor_count:   totalCount,\n    search_radius_m:          searchRadiusM,\n\n    // Reasoning\n    verdict_reasons:          reasons,\n    conditions_for_success:   conditions,\n    failure_modes:            failureModes,\n\n    // Context\n    business_type:            businessType,\n    area:                     area,\n    city:                     city,\n    report_id:                reportId,\n    analysed_at:              new Date().toISOString()\n  }\n}];"
      },
      "id": "a9-0003-0003-0003-000000000003",
      "name": "Intelligence Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a9-0004-0004-0004-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Intelligence Engine", "type": "main", "index": 0 }]]
    },
    "Intelligence Engine": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "locatalyze" }, { "name": "a9-intelligence" }],
  "triggerCount": 1,
  "updatedAt": "2026-04-03T00:00:00.000Z",
  "versionId": "a9-v1-2026-04-03"
}
